@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

#top {
	margin-top: -80px;
	margin-left: -40px;
	width: 105%;
	background-color: black;
}

hr {
	width: 50%;
}

footer {
	background-color: #182939;
	height: 100px;
	margin-bottom: -20px;
	width: 102%;
	margin-left: -10px;
}

#under_face {
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	color: white;
	margin-left: 30px;
	margin-top: -70px;
}

.icons {
	height: 60px;
	width: 60px;
}

#under_hr {
	width: 50%;
	font-size: 2.8em;
	font-family: 'Playfair Display', serif;
}

#over_futter {
	width: 506px;
	height: 60em;
	background-color: black;
	margin-left: -10px;
}

#over_futter_image {
	width: 500px;
	height: 500px;
	margin: 150px;
	margin-left: 250px;
	border-radius: 1000px;
	display: inline-block; 

    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -o-transform: matrix(-1, 0, 0, 1, 0, 0);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#about_our {
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-left: 1.7em;
	margin-top: 1em;
	font-size: 80px;
}

#title {
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-left: 2.7em;
	margin-top: 1.3em;
	font-size: 50px;
	width: 60%;
}

#notepad {
	width: 80%;
	border-radius: 900px;
	margin-top: 1em;
	margin-left: 10em;
}

#headphones {
	margin-left: 27em;
	margin-top: -500px;
	width: 33pem;
	height: 33em;
	z-index: 99;
}

#title_pattern1, #text_in_pattern1 {
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	margin-left: 30px;
	margin-bottom: -90px;
	width: 200%;
	z-index: 10;
}

#text_in_pattern1 {
	font-size: 40px;
	margin-top: 80px;
	margin-left: 30px;
}

.circle, .circle2 {
  	background: #b8f628;
  	clip-path: circle(50%);
  	height: 10em;
  	width: 10em;
  	margin-top: 5em;
  	margin-left: 3em;
}

.circle2 {
  	margin-top: 7em;
  	margin-left: 45em;
}

.sqrt {
	background: #f1f628;
  	clip-path: circle(100%);
  	height: 35em;
  	width: 15.9em;
  	margin-top: 10em;
  	margin-left: 3em;
}
	
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    z-index: 999;
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
    opacity: 95%;
}

#text_in_window {
	font-size: 2em;
}

.popup {
    top: 25%;
    left: 0;
    right: 0;       
    font-size: 14px;
    margin: auto;
    width: 85%;
    min-width: 320px;
    max-width: 600px;
    position: absolute;
    padding: 15px 20px;
    border: 1px solid #383838;
    background: #fefefe;
    z-index: 1000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font: 14px/18px 'Tahoma', Arial, sans-serif;
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -moz-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -ms-box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
}

.close {
    top: 10px;
    right: 10px;
    width: 32px;
    height: 32px;
    position: absolute;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 131, 119, 0.9);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    outline: none;
 
}
.close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.close:hover {
    background-color: rgba(252, 20, 0, 0.8);
}

@media screen and (max-width: 1280px) {
	#top {
		width: 103.8%;
	}

	#over_futter {
		width: 640px;
	}

	#over_futter_image {
		margin-left: 390px;
	}

	.icons {
		margin-top: 20px;
		height: 30px;
		width: 30px;
	}

	footer {
		width: 101.4%;
	}
} 
